body{
    font-family: 'Roboto', sans-serif; /*Peguei no site font goolgle*/
    margin: 0; /*SEMPRE LEMBRAR DO ;*/
    box-sizing: border-box;
}

.div-left {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 250px;
    height: 250px;
    text-align: center; /*centralizar texto*/
    background-color: white;
    border: 2px solid black;
    
}

.div-center {
    position: fixed;
    bottom: 0;
    display: inline-block;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
    text-align: center; /*centralizar texto*/
    background-color: #ffffff;
    border: 2px solid black;
}

.div-right{
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 250px;
    height: 250px;
    text-align: center; /*centralizar texto*/
    background-color: white;
    border: 2px solid black;
}


.content{ 
    position: relative;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px;
    background-color: white; /*para dar uma cor de fundo na div*/
    border: 2px solid black;
    transform: translate(-50%, -50%);
}

h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: orange;
    font-size: 28px;
    font-weight: bold; /*vai deixar a fonte em negrito*/ 
}
